@model IList<CreateEventModel>


@{
    ViewData["Title"] = "Home Page";


}



<div class="container">
    <h1 class="text-center">Welcome!</h1>

    <div class="row">

        <div class="col-6 text-center">
            <h4 class="text-center"><b>Past Events </b></h4>
            @if (ViewBag.email == "myadmin@bookevents.com")
            {
                @foreach (var book in Model)
                {
                    @if (book.Date < DateTime.Now )
                    {
                        <div class="">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="~/images/book2.jpg" width="500" height="225" />
                                @*<svg class="bd-placeholder-img card-img-top-" width="100%" height="225" xmlns="https://www.shutterstock.com/image-vector/mockup-blank-cover-magazine-book-booklet-1390512062"></svg>*@

                                <div class="card-body">

                                    <h6 class="card-subtitle "><b>Title :</b>@book.Title</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Discription :</b>@book.Discription</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Location :</b>@book.Location</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Date :</b>@book.Date</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Start Time :</b>@book.StartTime</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Event Type :</b><a asp-controller="CreateEvent" asp-action="GetEvent" asp-route-id=" @book.EventId">@book.EventType</a></h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Duration :</b>@book.Duration</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Other Details:</b>@book.OtherDetails</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Invited By Mail :</b>@book.InviteByMail</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Created By:</b>@book.Creator</h6>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            else
            {
                @foreach (var book in Model)
                {
                    @if (book.Date < DateTime.Now && book.EventType == "Public")
                    {
                        <div class="">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="~/images/book2.jpg" width="500" height="225" />
                                @*<svg class="bd-placeholder-img card-img-top-" width="100%" height="225" xmlns="https://www.shutterstock.com/image-vector/mockup-blank-cover-magazine-book-booklet-1390512062"></svg>*@

                                <div class="card-body">

                                    <h6 class="card-subtitle "><b>Title :</b>@book.Title</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Discription :</b>@book.Discription</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Location :</b>@book.Location</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Date :</b>@book.Date</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Start Time :</b>@book.StartTime</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Event Type :</b><a asp-controller="CreateEvent" asp-action="GetEvent" asp-route-id=" @book.EventId">@book.EventType</a></h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Duration :</b>@book.Duration</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Other Details:</b>@book.OtherDetails</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Invited By Mail :</b>@book.InviteByMail</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Created By:</b>@book.Creator</h6>
                                </div>


                            </div>

                        </div>



                    }
                }
            }
           

        </div>




        <div class="col-6 text-center">
            <h4 class="text-center"><b>Upcoming Events</b> </h4>

            @if (ViewBag.email == "myadmin@bookevents.com")
            {
                @foreach (var book in Model)
                {
                    @if (book.Date > DateTime.Now)
                    {
                        <div class="">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="~/images/book2.jpg" width="500" height="225" />
                                @*<svg class="bd-placeholder-img card-img-top-" width="100%" height="225" xmlns="https://www.shutterstock.com/image-vector/mockup-blank-cover-magazine-book-booklet-1390512062"></svg>*@

                                <div class="card-body">

                                    <h6 class="card-subtitle "><b>Title :</b>@book.Title</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Discription :</b>@book.Discription</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Location :</b>@book.Location</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Date :</b>@book.Date</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Start Time :</b>@book.StartTime</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Event Type :</b><a asp-controller="CreateEvent" asp-action="GetEvent" asp-route-id=" @book.EventId">@book.EventType</a></h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Duration :</b>@book.Duration</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Other Details:</b>@book.OtherDetails</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Invited By Mail :</b>@book.InviteByMail</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Created By:</b>@book.Creator</h6>
                                </div>

                            </div>

                        </div>



                    }
                }


            }
            else
            {
                @foreach (var book in Model)
                {
                    @if (book.Date > DateTime.Now && book.EventType == "Public")
                    {
                        <div class="">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="~/images/book2.jpg" width="500" height="225" />
                                @*<svg class="bd-placeholder-img card-img-top-" width="100%" height="225" xmlns="https://www.shutterstock.com/image-vector/mockup-blank-cover-magazine-book-booklet-1390512062"></svg>*@

                                <div class="card-body">

                                    <h6 class="card-subtitle "><b>Title :</b>@book.Title</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Discription :</b>@book.Discription</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Location :</b>@book.Location</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Date :</b>@book.Date</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Start Time :</b>@book.StartTime</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Event Type :</b><a asp-controller="CreateEvent" asp-action="GetEvent" asp-route-id=" @book.EventId">@book.EventType</a></h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Duration :</b>@book.Duration</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Other Details:</b>@book.OtherDetails</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Invited By Mail :</b>@book.InviteByMail</h6>
                                    <br />
                                    <h6 class="card-subtitle "><b>Created By:</b>@book.Creator</h6>
                                </div>


                            </div>

                        </div>



                    }
                }
            }


        </div>
    </div>
</div>




